*{
  margin: 0;
  padding: 0px;
  height: 100vh;
  width: 100%;

}
.Navigation{
  text-align: center;
  display: flex;
  gap: 5px;
  height: 3em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;


}

.header {
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  background-color: aliceblue;
  height: 3em;
}
.portfoliolinks {
  height: 10em;
}

.pagetext{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-large;
}